option_settings:
    "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "vimansathi.settings"
        PYTHONPATH: "./"
    "aws:elasticbeanstalk:container:python":
        WSGIPath: vimansathi/wsgi.py
        NumProcesses: 3
        NumThreads: 20
    

packages:
  yum:   
    git: []
    postgresql-devel: []
    libjpeg-turbo-devel: []
    libcurl-devel: []


container_commands:
    01_migrate:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate --noinput"
        leader_only: true
    02_mkdir:
        command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post" 
        ignoreErrors: true 
    03_export:
        command: "export PYCURL_SSL_LIBRARY=openssl"
    05_celery_tasks:
        command: "cat .ebextensions/files/celery_configuration.txt > /opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_celeryd.sh && chmod 744 /opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_celeryd.sh"
        leader_only: true
    06_celery_tasks_run:
        command: "sudo /opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_celeryd.sh"
        leader_only: true  