container_commands:
  0_migrate:
    command: "python manage.py migrate"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "vimansathi.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "vimansathi/wsgi.py"
    StaticFiles: "/static/=www/static/"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: vimansathi.wsgi:application
packages:
  yum:   
    git: []
    postgresql-devel: []
    libjpeg-turbo-devel: []